$nav-height: 2vw;
$nav-width: 98vw / 6;

.tagsSubsectionNav {
  margin: 0;
  padding: 0;

  .tagsSubsectionNavTitle {
    background-color: #101010;
    display: block;
    height: 0;
    line-height: $nav-height;
    margin: 0;
    overflow: hidden;
    padding: 0 1vw;
    text-align: left;
    text-overflow: ellipsis;
    transition: height 0.5s ease-in;
    width: $nav-width;
    white-space: nowrap;

    &:hover {
      background-image: radial-gradient( #303030, transparent 50% );
    }
  }

  .tagsContainerNav {
    margin: 0;
    padding: 0;
  }

  &:hover {
    .tagsContainerNav > * {
      height: $nav-height;
    }
  }
}

@media only screen and ( max-width: 768px ) {
  $nav-height: 4vw;
  $nav-width: 100vw;

  .tagsSubsectionNav {
    .tagsSubsectionNavTitle {
      line-height: $nav-height;
      width: $nav-width;
    }

    &:hover {
      .tagsContainerNav > * {
        height: $nav-height;
      }
    }
  }
}